@import "https://bits.wikimedia.org/ja.wikipedia.org/load.php?debug=false&lang=ja&modules=ext.gadget.Navigation_popups%2CReferenceTooltips%2CWikiMiniAtlas%2CmySandbox%7Cext.rtlcite%2Cwikihiero%7Cext.uls.nojs%7Cext.visualEditor.viewPageTarget.noscript%7Cmediawiki.legacy.commonPrint%2Cshared%7Cmw.PopUpMediaTransform%7Cskins.vector&only=styles&skin=vector&*";
@import "https://bits.wikimedia.org/ja.wikipedia.org/load.php?debug=false&lang=ja&modules=site&only=styles&skin=vector&*";

body { 
  width: 90%; 
  margin-left: 2%;
  margin-right: 2%;
  background-color: white;
}
h1.logo {
  text-align: center;
}
span.logo {
  margin-right: 1em;
}
div.form { 
  margin-top: .6em;
  text-align: center; 
  padding-bottom: 10px;
  border-bottom: 1px solid #aaa;
}

div#footer {
  text-align: right;
  margin-top: 2em;
  margin-left: 0px;
  padding: 0px;
}

p.headline {
  font-size: smaller;
  background-color: #3366cc;
  color: white;
  text-align: right;
  padding: 2px;
}
p.message { 
  text-align: center;
  font-size: larger;
  color: #f22;
  text-decoration: underline;
}

dl.search_results dt {
  margin-top: 0.5ex; 
  font-weight: normal;
}
dl.search_results dd {
  text-indent: 0;
  font-size: smaller;
}
dl.search_results dd a {
  text-decoration: none;
}

em {
  font-style: normal;
  font-weight: bold;
}

div.paginate {
  margin: 2ex 4em 1ex;
}
div.paginate span.page {
  border: 1px solid #444;
  padding: 10px;
  margin: 2px;
}
