<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html lang="ja">
<head>
<link rel="stylesheet" href="style.css" type="text/css">
<title>百科事典サーチ
<% if @query %>
: <%=h @query %>
<% end %>
</title>
</head>
<body>
<h1 class="logo"><img src="ircepedia.jpg" alt="百科事典サーチ"/></h1>
<form action="./" method="GET">
<div class="form">
<input type="text" name="q" size="50" value="<%=h @query %>">
<input type="submit" value=" 百科事典 検索 ">
</div>
</form>
<% if @query %>
<% if data[ :message ] %>
<div class="search_comments"><%=h data[ :message ] %></div>
<% end %>
<p class="headline">
<%= data[ :total_results ] %>件中
<%= data[ :start ] %> - <%= data[ :end ] %>件目・・
検索にかかった時間<%= sprintf( '%.02f', data[ :elapsed ] ) %>秒</p>
<% results = data[ :results ][ "response" ] %>
<% count = results[ "start" ] %>
<dl class="search_results">
<% results[ "docs" ].each do |e| %>
<%   count += 1 %>
  <dt><%= count %>. <a href="./browse.cgi?title=<%=u e[ "title" ] %>"><%=h e[ "title" ] %></a></dt>
  <dd class="snippet"><%= e[ "text" ].join[ 0, 100 ] %>...</dd>
  <dd class="url">記事: <a href="./browse.cgi?title=<%= e[ "title" ] %>"><%= e[ "title" ] %></a></dd>
<% end %>
</dl>
<p>ページ:
</p>
</div>
<% else %>
<p>「百科事典さーち」では、百科事典のコンテンツを検索して閲覧できます。</p>
<% end %>
<hr>
<address>
Project IRCE<br>
<a href="http://cres.jpn.org">http://cres.jpn.org</a>
</address>
</body>
</html>
